APP_NAME="As Home"
APP_ENV="local"
APP_KEY="base64:LyJvx41vrj2otW4kz8v4tUpCE/c6rzAurYugc3q9Xx4="
APP_DEBUG="true"
APP_URL=https://orangered-armadillo-274081.hostingersite.com

DEMO_MODE="false"


LOG_CHANNEL="stack"
LOG_DEPRECATIONS_CHANNEL="null"
LOG_LEVEL="debug"

DB_CONNECTION="mysql"
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u268537024_e_broker
DB_USERNAME=u268537024_e_broker
DB_PASSWORD=E_broker@123


BROADCAST_DRIVER="log"

CACHE_DRIVER="file"
FILESYSTEM_DISK="local"
QUEUE_CONNECTION="sync"
SESSION_DRIVER="file"
SESSION_LIFETIME="120"
CACHE_EXPIRE="-1"
MEMCACHED_HOST="127.0.0.1"

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD="null"
REDIS_PORT="6379"

MAIL_MAILER="smtp"
MAIL_HOST="smtp.hostinger.com"
MAIL_PORT="465"
MAIL_USERNAME="admin@nexlancer.online"
MAIL_PASSWORD="Tal1985#"
MAIL_ENCRYPTION="ssl"
MAIL_FROM_ADDRESS="admin@nexlancer.online"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="us-east-1"
AWS_BUCKET=""
AWS_USE_PATH_STYLE_ENDPOINT="false"

PUSHER_APP_ID=""
PUSHER_APP_KEY=""
PUSHER_APP_SECRET=""
PUSHER_HOST=""
PUSHER_PORT="443"
PUSHER_SCHEME="https"
PUSHER_APP_CLUSTER="mt1"

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PERMISSION_ERROR_MSG=" 'You are not authorize to operate on the module'"
SESSION_SECURE_COOKIE="false"

JWT_SECRET="P86dTAG6pEkjrSJM2Vr6fFlixcNSoX6ohW1eQ4Lcvtyrt2005c8Pbc94hhPc11oa"
JWT_TTL="null"


SANDBOX="TRUE"
APPSECRET=test@13214


PLACE_API_KEY=""
UNSPLASH_API_KEY=""
PRIMARY_RGBA_COLOR="rgb(232, 195, 115,0.15)"
PRIMARY_COLOR="#e8c373"

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""

TELESCOPE_ENABLED ="false"

BUSINESS=""
PAYPAL_CURRENCY="AUD"
PAYPAL_SANDBOX="0"

FLW_PUBLIC_KEY=""
FLW_SECRET_KEY=""
FLW_SECRET_HASH=""

PAYSTACK_PUBLIC_KEY=""
PAYSTACK_SECRET_KEY=""
PAYSTACK_PAYMENT_URL="https://api.paystack.co"

PAYMOB_API_KEY="ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRBMk16TXhOaXdpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS5JQUJ3SWE1dUZnSXJJWXdWYmRidEw0a1UtcVdKVVdaTThpNzBBUnVndHhvZ2FsOElKLTJhWTdORllTMHJUMWdpUFc0M2xSSS1Bb3V3eGZaMEIzUTNZZw=="
PAYMOB_INTEGRATION_ID=5211919
PAYMOB_IFRAME_ID=943371
PAYMOB_HMAC_SECRET=DADF6F1FEA228FA1C7C02C2CC31B86FF2
PAYMOB_CURRENCY=EGP
PAYMOB_CALLBACK_URL="${APP_URL}/api/payments/paymob/callback"
PAYMOB_RETURN_URL="${APP_URL}/payments/paymob/return"
PAYMOB_SEND_MONEY_INTEGRATION_ID=5211919
